name: Build Jekyll site

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create PS3 update file
        run: |
          rm -fr docs/PS3/apollo-ps3-update.zip
          zip -9 docs/PS3/apollo-ps3-update.zip ps1titleid.txt ps2titleid.txt
          cd PS3
          zip -9 ../docs/PS3/apollo-ps3-update.zip *.*
          cd ../PS2
          zip -9 ../docs/PS3/apollo-ps3-update.zip *.*
          cd ..
          zip -9 -r docs/PS3/apollo-ps3-update.zip python/

      - name: Create PS4 update file
        run: |
          rm -fr docs/PS4/apollo-ps4-update.zip
          zip -9 docs/PS4/apollo-ps4-update.zip ps1titleid.txt ps2titleid.txt
          cd PS4
          zip -9 ../docs/PS4/apollo-ps4-update.zip *.*
          cd ../PS2
          zip -9 ../docs/PS4/apollo-ps4-update.zip *.*
          cd ..
          zip -9 -r docs/PS4/apollo-ps4-update.zip python/

      - name: Create PSP update file
        run: |
          rm -fr docs/PSP/apollo-psp-update.zip
          zip -9 docs/PSP/apollo-psp-update.zip ps1titleid.txt psptitleid.txt
          cd PSP
          zip -9 ../docs/PSP/apollo-psp-update.zip *.*
          cd ..
          zip -9 -r docs/PSP/apollo-psp-update.zip python/

      - name: Create PS Vita update file
        run: |
          rm -fr docs/PSV/apollo-vita-update.zip
          zip -9 docs/PSV/apollo-vita-update.zip ps1titleid.txt psptitleid.txt psvtitleid.txt
          cd PSV
          zip -9 ../docs/PSV/apollo-vita-update.zip *.*
          cd ../PSP
          zip -9 ../docs/PSV/apollo-vita-update.zip *.*
          cd ..
          zip -9 -r docs/PSV/apollo-vita-update.zip python/

      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Build
        uses: actions/jekyll-build-pages@v1
        with:
          source: "./docs"
          destination: "./output"
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./output"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
